PORT=3000
MONGO_URI=
CLIENT_URL=http://localhost:5173

# JWT Secrets
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# Razorpay Integration
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Email (Nodemailer)
GMAIL_USER=
GMAIL_PASS=

# Twilio SMS OTP
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# NVIDIA AI
NVIDIA_API_KEY=
